@model MvcTask.Web.Models.GameViewModel

@{
    this.ViewBag.Title = "Edit";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (this.Html.BeginForm()) {
    @(this.Html.AntiForgeryToken())
    @(this.Html.ValidationSummary(true))

    <fieldset>
        <legend>GameViewModel</legend>

        <div class="editor-label">
            @(this.Html.LabelFor(model => model.Key))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.Key))
            @(this.Html.ValidationMessageFor(model => model.Key))
        </div>

        <div class="editor-label">
            @(this.Html.LabelFor(model => model.Name))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.Name))
            @(this.Html.ValidationMessageFor(model => model.Name))
        </div>

        <div class="editor-label">
            @(this.Html.LabelFor(model => model.Description))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.Description))
            @(this.Html.ValidationMessageFor(model => model.Description))
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @(this.Html.ActionLink("Back to List", "Index"))
</div>
