@model MvcTask.Web.Areas.Common.Models.GameCreateViewModel


<div class="editor-label">
    @(this.Html.LabelFor(model => model.Key))
</div>
<div class="editor-field">
    @(this.Html.EditorFor(model => model.Key))
    @(this.Html.ValidationMessageFor(model => model.Key))
</div>

<div class="editor-label">
    @(this.Html.LabelFor(model => model.Name))
</div>
<div class="editor-field">
    @(this.Html.EditorFor(model => model.Name))
    @(this.Html.ValidationMessageFor(model => model.Name))
</div>

<div class="editor-label">
    @(this.Html.LabelFor(model => model.Description))
</div>
<div class="editor-field">
    @(this.Html.TextAreaFor(model => model.Description))
    @(this.Html.ValidationMessageFor(model => model.Description))
</div>

<div class="editor-label">
    @(this.Html.LabelFor(model => model.Price))
</div>
<div class="editor-field">
    @(this.Html.EditorFor(model => model.Price))
    @(this.Html.ValidationMessageFor(model => model.Price))
</div>

<div class="editor-label">
    @(this.Html.LabelFor(model => model.UnitsInStock))
</div>
<div class="editor-field">
    @(this.Html.EditorFor(model => model.UnitsInStock))
    @(this.Html.ValidationMessageFor(model => model.UnitsInStock))
</div>

@*<div class="editor-label">
    @(this.Html.LabelFor(model => model.Publishers))
</div>
<div class="editor-field">
    @(this.Html.DropDownListFor(model => model.PublisherId, new SelectList(Model.Publishers, 
                               "ContribId", "Value", 
                               Model.Publishers.First())
    @(this.Html.ValidationMessageFor(model => model.PublisherId))))
</div>*@

<div class="editor-label">
    @(this.Html.LabelFor(model => model.Publishers))
</div>
<div class="editor-field">
    @(this.Html.DropDownListFor(model => model.Publishers, (SelectList)ViewBag.Pablishers))
    @(this.Html.ValidationMessageFor(model => model.PublisherId))))
</div>

@*<div class="editor-label">
    @(this.Html.LabelFor(model => model.PublisherId))
</div>
<div class="editor-field">
    @(this.Html.EditorFor(model => model.PublisherId))
    @(this.Html.ValidationMessageFor(model => model.PublisherId))
</div>

<div class="editor-label">
    @(this.Html.LabelFor(model => model.PublisherId))
</div>
<div class="editor-field">
    @(this.Html.EditorFor(model => model.PublisherId))
    @(this.Html.ValidationMessageFor(model => model.PublisherId))
</div>*@