@model MvcTask.Web.Models.PublisherViewModel

@{
    this.ViewBag.Title = "Create";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (this.Html.BeginForm()) {
    @(this.Html.AntiForgeryToken())
    @(this.Html.ValidationSummary(true))

    <fieldset>
        <legend>PublisherViewModel</legend>

        <div class="editor-label">
            @(this.Html.LabelFor(model => model.CompanyName))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.CompanyName))
            @(this.Html.ValidationMessageFor(model => model.CompanyName))
        </div>

        <div class="editor-label">
            @(this.Html.LabelFor(model => model.Description))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.Description))
            @(this.Html.ValidationMessageFor(model => model.Description))
        </div>

        <div class="editor-label">
            @(this.Html.LabelFor(model => model.HomePage))
        </div>
        <div class="editor-field">
            @(this.Html.EditorFor(model => model.HomePage))
            @(this.Html.ValidationMessageFor(model => model.HomePage))
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
