@model MvcTask.Web.Models.PublisherViewModel

@{
    this.ViewBag.Title = "Details";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>PublisherViewModel</legend>

    <div class="display-label">
        @(this.Html.DisplayNameFor(model => model.CompanyName))
    </div>
    <div class="display-field">
        @(this.Html.DisplayFor(model => model.CompanyName))
    </div>

    <div class="display-label">
        @(this.Html.DisplayNameFor(model => model.Description))
    </div>
    <div class="display-field">
        @(this.Html.DisplayFor(model => model.Description))
    </div>

    <div class="display-label">
        @(this.Html.DisplayNameFor(model => model.HomePage))
    </div>
    <div class="display-field">
        @(this.Html.DisplayFor(model => model.HomePage))
    </div>
</fieldset>

